@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RateFlicks!</h1>
    <p>This site is designed to help you and others pick the best movies at the best prices. <a href="/Movies">Check out our Movie catalogue</a>.</p>
</div>
